<html>
   <body>
      <form action = "{{url_for('upload_file')}}" method = "POST" 
         enctype = "multipart/form-data">
         <button name="Upload" type="submit" value="Upload">UploadFile</button>
      </form>

 <h1>File Name</h1>
 <form action="http://localhost:8080" method="POST"
      enctype="multipart/form-data">
      <h1>{{fl}}</h1>
      {%for i in file%}
      <p>{{i}}</p>
      <button name="subject" type="submit" value="{{i}}">Find Top 5 Word {{i}}</button>
      <button name="delete" type="submit" value="{{i}}">Delete File {{i}}</button>
      {%endfor%}
   </form>
   </body>
</html>