<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}" >
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Project NLP</title>
</head>

<body>

  <div class="header">
    <h1>Project NLP</h1>
  </div>

  <div class="topnav">
    <a href="{{url_for('index')}}">Home</a>
  </div>

  <div class="layout_content">

    <div class="row">
      <div class="columnlayoutner">
        <h2>Article Detection
        </h2>
        <i id="Fakenews" class="fa-regular fa-do-not-enter"></i> 
        <spane class="topword">
          {{Prediction}}
          </spane>
              
      </div>
    </div>

    <div class="row">
      <div class="columnlayout">
        <h2>Text File : {{FileName}}</h2> 
  
          <div class="columnlayin">
            <p class="textcontent">
              {{TextContent}}
            </p>
          </div>
  
      </div>
      
      <div class="columnlayout">
  
        <div class="row">
          <h2>Top 5 Back Of Word</h2>
  
          <div class="columnlayin">
            {%for i in Bow%}
            <p class="topword">{{i}}</p>
            {%endfor%}
          </div>
          
        </div>
  
        <div class="row">
          <h2>Top 5 TF-IDF</h2>
  
          <div class="columnlayin">
            {%for i in TFIDF%}
            <p class="topword">{{i}}</p>
            {%endfor%}
          </div>
          
        </div>
  
      </div>
    </div>
  
    <div class="row">
      <div class="columnlayoutseachword">
        <h2>Seach Word</h2>
        
        <div class="columnlayin">
          <form action="/function" id="search" class="search" method="POST">
            <input type="text" id="search" name="search" placeholder="Search Word">
            <input type="submit">
          </form> 
          <p class="search_word">{{searchword}}</p>     
        </div>
        
      </div>
      
      <div class="columnlayout">
        <h2>Entity labels (select)</h2>
      
      <div class="columnlayoutcheckbox">
        <form action="/function" id="c_checkbox" method = "POST">
            <input type="checkbox" id="checkbox" value="PERSON" name="checkbox" onclick="On_Check(this.value)">
            <label class="container1" id="PERSON" value="PERSON" >PERSON
            <span class="checkmark" id=""></span>
            </label>
            <input type="checkbox" id="checkbox" value="NORP" name="checkbox" onclick="On_Check(this.value)">
            <label class="container1" id="NORP" value="NORP">NORP
            <span class="checkmark"></span>
            </label>
            <input type="checkbox" id="checkbox" value="ORG" name="checkbox" onclick="On_Check(this.value)">
            <label class="container1" id="ORG" value="ORG">ORG
            <span class="checkmark"></span>
            </label>
            <input type="checkbox"id="checkbox" value="GPE" name="checkbox" onclick="On_Check(this.value)">
            <label class="container1" id="GPE" value="GPE">GPE
            <span class="checkmark"></span>
            </label>
            <input type="checkbox" id="checkbox" value="LOC" name="checkbox" onclick="On_Check(this.value)">
            <label class="container1" id="LOC" value="LOC">LOC
            <span class="checkmark"></span>
            </label>
            <input type="checkbox" id="checkbox" value="PRODUCT" name="checkbox" onclick="On_Check(this.value)">
            <label class="container1" id="PRODUCT" value="PRODUCT">PRODUCT
            <span class="checkmark"></span>
            </label>
            <input type="checkbox" id="checkbox" value="EVENT" name="checkbox" onclick="On_Check(this.value)">
            <label class="container1" id="EVENT" value="EVENT">EVENT
            <span class="checkmark"></span>
            </label>
            <input type="checkbox" id="checkbox" value="WORK_OF_ART" name="checkbox" onclick="On_Check(this.value)">
            <label class="container1" id="WORK_OF_ART" value="WORK_OF_ART">WORK OF ART
            <span class="checkmark"></span>
            </label>
            <input type="checkbox" id="checkbox" value="LANGUAGE" name="checkbox" onclick="On_Check(this.value)">
            <label class="container1" id="LANGUAGE" value="LANGUAGE">LANGUAGE
            <span class="checkmark"></span>
            </label>
            <input type="checkbox" id="checkbox" value="DATE" name="checkbox" onclick="On_Check(this.value)">
            <label class="container1" id="DATE" value="DATE">DATE
            <span class="checkmark"></span>
            </label>
            <input type="checkbox" id="checkbox" value="TIME" name="checkbox" onclick="On_Check(this.value)">
            <label class="container1" id="TIME" value="TIME">TIME
            <span class="checkmark"></span>
            </label>
            <input type="checkbox" id="checkbox" value="PERCENT" name="checkbox" onclick="On_Check(this.value)">
            <label class="container1" id="PERCENT" value="PERCENT">PERCENT
            <span class="checkmark"></span>
            </label>
            <input type="checkbox" id="checkbox" value="MONEY" name="checkbox" onclick="On_Check(this.value)">
            <label class="container1" id="MONEY" value="MONEY">MONEY
            <span class="checkmark"></span>
            </label>
            <input type="checkbox" id="checkbox" value="QUANTITY" name="checkbox" onclick="On_Check(this.value)">
            <label class="container1" id="QUANTITY" value="QUANTITY">QUANTITY
            <span class="checkmark"></span>
            </label>
            <input type="checkbox" id="checkbox" value="ORDINAL" name="checkbox" onclick="On_Check(this.value)">
            <label class="container1" id="ORDINAL" value="ORDINAL">ORDINAL
            <span class="checkmark"></span>
            </label>
            <input type="checkbox" id="checkbox" value="CARDINAL" name="checkbox" onclick="On_Check(this.value)">
            <label class="container1" id="CARDINAL" value="CARDINAL">CARDINAL
            <span class="checkmark"></span>
            </label>
          </div> 
        <input type="submit">  
        </div>
         
          </form>
          
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="columnlayoutner">
        <h2>Name Entity Recognition</h2>
          <div class="CLNERC">
              <p class="textcontentner">
              {{TextContentNer|markdown}}
            </p>
          </div>
      </div>
    </div>

  </div>

  <script src="static/js/text.js"></script>

</body>
</html>
